*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#footer{
    display: block;
    text-align: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(36, 27, 27);
    width: 100%;
    color: antiquewhite;
}

